* {
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
}

.page {
    padding: 64px 16px;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .page {
        padding: 64px 0;
    }
}

.hamburger {
    max-width: 1200px;
    margin: 21px auto 0 auto;
}

@media (min-width: 573px) {
    .hamburger {
        display: none;
    }
}

.bar {
    width: 32px;
    border-bottom: 7px solid #e5e5e5;
    margin-bottom: 4px;
}

.hamburger-isNotPresent {
    display: none;
}

.header-navWrapper {
    position: fixed;
    top: 0;
    background-color: #81b2ff;
    left: 0;
    right: 0;
    height: 70px;
}

.header-navWrapper > * {
    padding: 0 16px;
}

.header-navigation {
    max-width: 1200px;
    margin: 0 auto;
    display: none;
}

@media (max-width: 573px) {
    .header-navigation {
        padding-top: 32px;
        position: relative;
        background-color: #81b2ff;
        text-align: center;
    }
}

.header-navigation-isNotPresent {
    display: none;
}

@media (min-width: 573px) {
    .header-navigation {
        display: block;
    }
}

.header-navigation-isPresent {
    display: block;
}

.header-navigation-closeButton {
    display: none;
}

@media (max-width: 573px) {
    .header-navigation-closeButton {
        display: inline;
        position: absolute;
        top: 0;
        right: 20px;
        font-size: 25px;
        color: white;
        cursor: pointer;
    }
}

.header-navLink {
    text-decoration: none;
    color: #FFF;
    display: inline-block;
    padding: 23px 16px 23px 0;
    text-transform: uppercase;
}

@media (max-width: 573px) {
    .header-navLink {
        display: block;
    }
}

.header-logo {
    padding: 128px 32px 58px 32px;
    background-color: #f6f6f6;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #81b2ff;
}

/* @supports (display: flex) {
    .userBookCollection {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
} */

.myBooks-buttonContainer {
    margin-bottom: 16px;
}

@media (max-width: 573px) {
    .myBooks-buttonContainer {
        margin-bottom: 32px;
    }
}

.addBookButton {
    background-color: #81b2ff;
    color: #ffffff;
    border: thin solid;
    padding: 16px 16px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    display: block;
    width: 100%;
}

@media (min-width: 573px) {
    .addBookButton {
        padding: 8px 16px;
        display: inline;
        width: auto;
        min-width: 120px;
    }
}

.book {
    display: block;
    margin: 0 auto 24px auto;
}

@media (min-width: 573px) {
    .book {
        display: inline-block;
        width: 45%;
        margin-right: 16px;
        vertical-align: top;
    }
}

@media (min-width: 717px) {
    .book {
        width: 30%;
        margin-right: 16px;
    }
}

@media (min-width: 931px) {
    .book {
        width: 23%;
        margin-right: 16px;
    }
}

.book-thumbnailImage {
    padding: 4px;
    border: thin solid #000;
    width: 100%;
    display: block;
}

@media (min-width: 573px) {
    .book-thumbnailImage {
        height: 345px;
    }
}

.book-infoContainer {
    font-size: 14px;
    text-align: left;
}

.book-title {
    margin: 4px 0;
}

.book-author {
    margin: 4px 0;
    color: grey;
}

.dialog {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 776px;
    max-height: 435px;
    overflow: hidden;
    padding: 32px 16px 16px 16px;
    background-color: #FFF;
    border-radius: 4px;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.bookDialog-closeButton {
    display: inline;
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 25px;
    color: grey;
    cursor: pointer;
    line-height: 1;
}

.bookDialog-descriptionContainer {
    max-height: 200px;
    overflow: auto;
    margin-bottom: 8px;
}

.bookDialog-deleteBookButton {
    background-color: #663399;
    color: #ffffff;
    border: thin solid;
    padding: 16px 16px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    display: block;
    width: 100%;
}

.closeButton {
    display: inline;
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 25px;
    color: grey;
    cursor: pointer;
    line-height: 1;
}

.dialog [type=text] {
    padding: 12px 16px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    border: thin solid grey;
    border-radius: 3px;
    -webkit-appearance: none;
}

.filter-textInput {
    padding: 7px 12px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    border: thin solid grey;
    border-radius: 3px;
    -webkit-appearance: none;
    width: 100%;
    margin-bottom: 16px;
}

@media (min-width: 573px) {
    .filter-textInput {
        margin-right: 8px;
        min-width: 120px;
        width: auto;
    }
}

.userSettings ul {
    padding: 0
}

@media (min-width: 573px) {
    .userSettings ul {
        margin: 0 auto;
        max-width: 570px;
    }
}

.userSettings li {
    list-style: none;
}

@media (min-width: 573px) {
    .userSettings li {
        display: inline-block;
    }
}

.userSettings-firstNameInput, .userSettings-lastNameInput, .userSettings-cityInput {
    padding: 12px 16px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    border: thin solid #c4c4c4;
    border-radius: 3px;
    margin: 0 16px 16px 0;
    width: 100%;
}

@media (min-width: 573px) {
    .userSettings-firstNameInput, .userSettings-lastNameInput, .userSettings-cityInput {
        width: auto;
    }
}

.userSettings-stateDropDown {
    padding: 12px 16px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    border: thin solid #c4c4c4;
    border-radius: 3px;
    margin: 0 16px 32px 0;
    display: block;
}

.userSettings-saveChangesButton {
    background-color: #663399;
    color: #ffffff;
    border: thin solid;
    padding: 16px 16px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    width: 100%;
}

@media (min-width: 573px) {
    .userSettings-saveChangesButton {
        width: auto;
        min-width: 150px;
    }
}

.userSettings input:focus, .userSettings select:focus {
    outline: none;
}

.tableContainer {
    overflow-x: auto;
}

table {
    border-collapse: separate;
}

td {
    padding: 16px 8px;
}

table button {
    background-color: #2196f3;
    color: #FFF;
    border: thin solid;
    padding: 16px 16px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    width: 100%;
}

.bookOfferDialog-inputContainer {
    position: relative;
}

.bookOfferDialog-bookTitleInput {
    padding: 16px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    border: thin solid grey;
    border-radius: 3px;
    -webkit-appearance: none;
    width: 100%;
}

@media (min-width: 573px) {
    .bookOfferDialog-bookTitleInput {
        max-width: 350px;
    }
}

.bookOfferDialog-submitOfferButton {
    position: relative;
    left: 250px;
    background-color: #2196f3;
    color: #FFF;
    border: thin solid;
    padding: 16px 16px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
}

.autoComplete {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 100%;
    background-color: #f3f3f3;
}

.autoComplete-suggestion {
    padding: 8px 16px;
    color: #000;
}

.pagination {
    text-align: center;
}

.pagination a {
    padding: 8px 16px;
    margin-right: 8px;
    border-radius: 8px;
    color: #FFF;
    background-color: #03A9F4;
    text-decoration: none;
}